.main
    height: 100%
    padding: 50px 213px 213px 213px
    margin-top: -430px

.title
    color: #FFFFFF
    font-size: 42px
    font-family: 'Roboto'
    font-style: normal
    font-weight: bold
    width: 500px
    height: 88px
    margin-bottom: 49px

    
.cardSection
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    // position: relative
    // top: 32%

.flexGrid .col 
    width: 22%

@media (max-width: 600px)
    .main
        padding: 50px 25% 50px 25%
    .title
        width: 360px

@media (max-width: 1600px)
    .flexGrid .col
        width: 30%

@media (max-width: 1300px)
    .flexGrid .col
        width: 50%

@media (max-width: 1000px)
    .flexGrid .col
        width: 100%
